/* ======================================================= */
/* ================  Chatbox Admin Style =================*/
/* ======================================================= */

html {
  background: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
}

.socketchatbox-admin-title h1 {

color: #3D3D3D;

margin: 50px;

font-size: 55px;
}
.socketchatbox-admin-instruction li{
  margin:10px
}
#wrapper {
  /*min-height: 1000px; *//* we always want to show scroll bar */
}


#sendScript {
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 0px;
}

.socketchatbox-info-admin {
  right: 5%;
  width: 50%;
  position: absolute;
  /* max-width: 618px; */
  word-wrap: break-word;
  /* background: rgba(255, 255, 255, 0.5); */
}


.username-info-viewmore {
  margin-right: 10px;
  cursor: pointer;
}
.username-info-viewmore:hover{
  background: lightgray;
}
#socketchatbox-checkAdmin {
  background: white;
  border: 1px solid lightgray;
  padding: 20px;
}
#socketchatbox-online {
  border: 1px solid lightgray;
  padding: 20px;
  background: white;
}

div#socketchatbox-online {}
.socketchatbox-scriptHistory {
  border: 1px solid lightgray;
  padding: 20px;
  background: #EDEDED;
}
.socketchatbox-admin-leftside {
  width: 36%;
  margin-left: 5%;
  position: absolute;
  margin-bottom: 50px;
}
.socketchatbox-admin-server {
  border: 1px solid lightgray;
  padding-left: 5px;
  background: rgba(0, 0, 0, 0.75);
  word-wrap: break-word;
  font-size: small;
  overflow-y:scroll;
  height: 250px;
}
.log-time {
  width: 112px;
  margin-right: 21px;
}
.server-log-message {
  color: white;:;
  margin: 3px;
  margin-left: 7px;
}
.socketchatbox-admin-instruction {
  border: 1px solid lightgray;
  background: #FCFF8C;
  padding: 20px;
}
.socketchatbox-scriptHistoryScript {
  margin-top: 20px;
  max-height: 100px;
  overflow-y: scroll;
}
.username-info {
  margin-right: 5px;
  cursor: pointer;
  /* border: 1px solid white; */
}

.selected {
  border: 1px solid lightgray;
  background: yellow;
}

.partially-selected {
  border: 1px solid lightgray;
  background: linear-gradient(90deg, yellow 50%, white 50%);
}


/* User detail popup */

.selectedSocket {
  background: yellow !important;
}

.socketchatbox-userdetail {
  border: 1px solid lightgray;
  background: #F9F9F9;
  margin: 10px;
  display:none;
  font-size: small;
  z-index: 9999;
  padding: 15px;
}
.socketchatbox-admin-userprofile {
  margin: 20px;
}

.socketchatbox-admin-userprofile p{
  margin: 7px;
}

.socketchatbox-userdetail-actions {
  margin: 20px;
  margin-top:0px;
}
.socketchatbox-userdetail-actions-each {
  border: 1px solid lightgray;
  padding: 10px;

}

.socketchatbox-userdetail-actions-each:nth-child(odd) {
  background: #ededed;
}

.socketchatbox-userdetail-actions-each:nth-child(even) {
  background: #fafafa;
}

.socketchatbox-userdetail-name {
  font-size: large;
  font-weight: bold;
}

.socketchatbox-userdetail-sockets {
  /*max-height: 300px;
  overflow-y: scroll;*/
  margin: 10px;
}

.socketchatbox-socketdetail {
  margin:5px;
}

.socketchatbox-socketdetail-each {
  padding: 15px;
  cursor: pointer;
  border: 1px solid lightgray;
}

.socketchatbox-socketdetail-each p{
  margin:5px
}

.socketchatbox-socketdetail-each:nth-child(odd) {
  background: #ededed;
}

.socketchatbox-socketdetail-each:nth-child(even) {
  background: #fafafa;
}

.socketchatbox-actionhistory-url {
  float: right;
}



#socketchatbox-scriptSentStatus {
  margin: 10px;
}

.socketchatbox-admin-input {

  font-size: 100%;
}

.socketchatbox-admin-input textarea{
  height: 150px;  
  width: 100%;
  outline: none;
  padding-right: 5px; 
  border: 1px solid lightgray;
}

button {
  border: 1px solid lightgray;
  margin-left: 10px;
  cursor: pointer;
  background: beige;
}

.socketchatbox-admin-changeUserName {
  /*margin:0px;*/
}

.socketchatbox-refresh-interval {
    margin-left:30px;

}

.blue {
  background: #EDEDED;
}

.error {
  background: red !important;
}
.green {
  background: #C0FF3F;
}
.redFont {
  color: red;
}


