<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chatbox</title>
        <link rel="stylesheet" href="/chatbox/style/client.css">
    </head>
    <body class="socketchatbox">

    
        <h1>Welcome to use Chatbox!</h1>
        <div class="socketchatbox-page">
            <div id="socketchatbox-nw" class="socketchatbox-resize"></div>
            <div id="socketchatbox-ne" class="socketchatbox-resize"></div>
            <div id='socketchatbox-top'>
                <div id='socketchatbox-username'></div>
                <div id='socketchatbox-closeChatbox'>x</div>
                <div id='socketchatbox-showHideChatbox'>↓</div>

            </div>
            <div id='socketchatbox-body'>
                <div class="socketchatbox-chatArea">
                    <ul class="socketchatbox-messages"></ul>
                </div>

                <form id="socketchatbox-sendMedia">
                    <div>
                        <label class="socketchatbox-filebutton">
                            Drop file above to send or click here
                            <input type="file" id="socketchatbox-imagefile" accept="image/*">
                        </label>
                    </div>
                </form>       
                <input class="socketchatbox-inputMessage" placeholder="Type here..."/>
            </div>
        </div>


    </body>

    <script src="/chatbox/lib/jquery-1.9.0.min.js"></script>
    <script src="/chatbox/lib/socket.io.js"></script>


    <script src="/config.js"></script>
    <script src="/chatbox/init.js"></script>

    <script src="/chatbox/controllers/chatboxController.js"></script>
    <script src="/chatbox/controllers/msgController.js"></script>
    <script src="/chatbox/controllers/fileController.js"></script>
    <script src="/chatbox/controllers/usernameController.js"></script>

    <script src="/chatbox/handlers/historyHandler.js"></script>
    <script src="/chatbox/handlers/msgHandler.js"></script>
    <script src="/chatbox/handlers/fileHandler.js"></script>
    <script src="/chatbox/handlers/notificationHandler.js"></script>
    <script src="/chatbox/handlers/socketHandler.js"></script>

    <script src="/chatbox/utils/utils.js"></script>

    <script src="/chatbox/main.js"></script>

</html>